@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 15% 1fr 15%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgba(253,187,45,0.75), rgba(34,195,195,0.75));
}

header {
  grid-area: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 33%;
}

.deck,
.card-pile {
  width: 275px;
  height: 475px;
  border-radius: 5%;
}

.player-1-deck {
  box-shadow: 0px 0px 40px rgba(34,195,195,1);
}

.player-2-deck {
  box-shadow: 0px 0px 40px rgba(253,187,45,1);
}

.card-pile {
  margin-bottom: 2em;
}

.deck > img,
.card-pile > img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.wins-text {
  font-size: 1.5em;
  padding-top: 1em;
}
